{{ $blogRoot := .FirstSection -}}
{{ $yearGroups := $blogRoot.Pages.GroupByDate "2006" -}}
{{ $latestYear := (index $yearGroups 0).Key -}}
{{ $isBlogLanding := eq .RelPermalink $blogRoot.RelPermalink -}}
<div id="td-sidebar-menu" class="td-sidebar__inner">
  {{ if not .Site.Params.ui.sidebar_search_disable -}}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#td-section-nav" aria-controls="td-section-nav" aria-expanded="false" aria-label="{{ T "sidebar_toggle_nav" }}"></button>
  </form>
  {{ end -}}
  <nav class="collapse td-sidebar-nav{{ if .Site.Params.ui.sidebar_menu_foldable }} foldable-nav{{ end }}" id="td-section-nav">
    <ul class="td-sidebar-nav__section pe-md-3 ul-0">
      <li class="td-sidebar-nav__section-title td-sidebar-nav__section with-child active-path" id="m-blog-li">
        <a href="{{ $blogRoot.RelPermalink }}" class="align-left ps-0 td-sidebar-link td-sidebar-link__section tree-root" id="m-blog"><span>{{ $blogRoot.LinkTitle }}</span></a>
        <ul class="ul-1">
          {{ range $yearIndex, $yearGroup := $yearGroups -}}
          {{ $year := $yearGroup.Key -}}
          {{ $yearActive := or (in $yearGroup.Pages $) (and $isBlogLanding (eq $year $latestYear)) -}}
          <li class="td-sidebar-nav__section-title td-sidebar-nav__section with-child{{ if $yearActive }} active-path{{ end }}" id="m-blog-{{ $year }}-li">
            {{ if $.Site.Params.ui.sidebar_menu_foldable -}}
            <input type="checkbox" id="m-blog-{{ $year }}-check"{{ if $yearActive }} checked{{ end }}>
            <label for="m-blog-{{ $year }}-check"><span{{ if $yearActive }} class="td-sidebar-nav-active-item"{{ end }}>{{ $year }}</span></label>
            {{ else -}}
            <span>{{ $year }}</span>
            {{ end -}}
            <ul class="ul-2 foldable">
              {{ range $yearGroup.Pages -}}
              <li class="td-sidebar-nav__section-title td-sidebar-nav__section without-child{{ if eq . $ }} active-path{{ end }}" id="m-{{ .RelPermalink | anchorize }}-li">
                <a href="{{ .RelPermalink }}" class="align-left ps-0 td-sidebar-link td-sidebar-link__page{{ if eq . $ }} active{{ end }}" id="m-{{ .RelPermalink | anchorize }}"><span{{ if eq . $ }} class="td-sidebar-nav-active-item"{{ end }}>{{ .LinkTitle }}</span></a>
              </li>
              {{ end -}}
            </ul>
          </li>
          {{ end -}}
        </ul>
      </li>
    </ul>
  </nav>
</div>
